<div class="jumbotron small text-center bg-dark text-white p-2 m-0">
    <div class="row">
        <div class="col">
            <h5 class="p-0 m-0">Contact Tourism Council</h5>
            <p class="p-0 m-0 small">contact: 1233495934</p>
            <p class="p-0 m-0 small">email: torism@tampakan</p>
        </div>
        <div class="col">
            <h5 class="p-0 m-0">Contact Mayors Office</h5>
            <p class="p-0 m-0 small">contact 1233495934</p>
            <p class="p-0 m-0 small">email: mayor@tampakan</p>
        </div>
        <div class="col">
            <h5 class="p-0 m-0">Fire Department</h5>
            <p class="p-0 m-0 small">contact 1233495934</p>
            <p class="p-0 m-0 small">email: firedept@tampakan</p>
        </div>
        <div class="col">
            <h5 class="p-0 m-0">Police Department</h5>
            <p class="p-0 m-0 small">contact 1233495934</p>
            <p class="p-0 m-0 small">email: tampakan@tamapakan</p>
        </div>
    </div>
</div>