{% extends 'base/base.html' %}

{% block content %}
    <div class="jumbotron mx-auto col-lg-9 rounded h2 text-center my-3 p-0">Tampakan Services</div>
    <div class="jumbotron col-lg-9 mx-auto py-3">
        <div class="row">
            <div class="col-lg-4 shadow">
                <div class="lead font-weight-bold text-center my-3">Tampakan Offices</div>
                {% for office in offices %}
                    <a href="{{office.get_absolute_url}}" class="nav-link p-1 border border-secondary rounded">
                        <div class="d-flex">
                            <div class="h6">{{office.name}}
                                <span class="badge badge-info">{{office.get_appointments.count}}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>

            <div class="col-lg-8 shadow text-center">
                <div class="card text-dark p-1 animated slideInUp">
                    <div>Appointments</div>
                    <div class="text-muted small">Que your appointment</div>
                    <a href="{% url 'create-appointment' %}" class="btn btn-primary m-3">Set>></a>
                </div>
                <div class="card-group">
                    <div class="card text-dark p-1 animated slideInUp">
                        <div>Appointments</div>
                        <div class="text-muted small">Que your appointment</div>
                        <a href="{% url 'create-appointment' %}" class="btn btn-primary m-3">Set>></a>
                    </div>
                    <div class="card text-dark p-1 animated slideInUp">
                        <div>Appointments</div>
                        <div class="text-muted small">Que your appointment</div>
                        <a href="{% url 'create-appointment' %}" class="btn btn-primary m-3">Create>></a>
                    </div>
                </div>
                <div class="card-group">
                    <div class="card text-dark p-1 animated slideInUp">
                        <div>Call an Ambulance</div>
                        <div class="lead">091212121232</div>
                    </div>
                    <div class="card text-dark p-1 animated slideInUp">
                        <div>Contact Police</div>
                        <div class="lead">091212121232</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
