{% extends 'base/base.html' %}

{% block content %}
    <div class="jumbotron col-lg-8 mx-auto pt-3">
        <div class="h2 text-center">{{ office.name }}</div>
        <div class="card-group">
            <div class="col-sm-5 card m-1">
                <div class="lead my-2 text-center">Appoinments Queue</div>
                <div class="mb-3 text-muted small text-center">List of Person made appointment to this office
                    <div class="small">(You are seeing this because you are authorized)</div>
                </div>
                {% for appointment in office.get_appointments %}
                    <a href="{{ appointment.get_absolute_url }}" class="bg-light rounded nav-link animated slideInUp">
                        <div class="d-flex shadow">
                            <div class="h6">{{ appointment.name }}</div>
                            <div class="text-muted small my-auto mx-2">{{ appointment.date }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-sm-7 card m-1">
                <div class="lead my-2 text-center">Sevices</div>
                {% for service in office.get_services %}
                    <a href="{{ service.get_absolute_url }}" class="bg-light rounded nav-link animated slideInUp">
                        <div class="shadow">
                            <div class="h6 font-weight-bold">{{ service.title }}</div>
                            <div class="ml-2 small font-italic">{{ service.description|truncatechars:200 }}</div>
                            <div class="ml-2 mt-3 small text-justify">{{ service.content|truncatechars:220 }}
                                <span class="btn btn-success">Read More>></span>
                            </div>

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
