<div class="card">
    <h3>Tampakan Map</h3>
    <div class="mapouter mx-auto"><div class="gmap_canvas"><iframe width="275" height="387" id="gmap_canvas" src="https://maps.google.com/maps?q=tampakan%20South%20Cotabato&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.divi-discounts.com">divi-discounts.com</a></div><style>.mapouter{position:relative;text-align:right;height:387px;width:275px;}.gmap_canvas {overflow:hidden;background:none!important;height:387px;width:275px;}</style></div>
</div>