<div class="text-center">
    <div class="card text-dark p-1 animated slideInUp">
        <div>Tampakan News</div>
        <div class="text-muted small">Be updated on latest news in Tampakan</div>
        <a href="{% url 'news' %}" class="btn btn-primary m-3">Read>></a>
    </div>
    <div class="card text-dark p-1 animated slideInUp">
        <div>Tampakan Tourism</div>
        <div class="text-muted small">Explore more about Tampakan, tourism and events</div>
        <a href="{% url 'touristAtrraction' %}" class="btn btn-primary m-3">Read>></a>
    </div>
    <div class="card text-dark p-1 animated slideInUp">
        <div>Tampakan Services</div>
        <div class="text-muted small">Tampakan Social and Economic Services</div>
        <a href="{% url 'office-list' %}" class="btn btn-primary m-3">Read>></a>
    </div>
    <div class="card text-dark p-1 animated slideInUp">
        <div>Appointments</div>
        <div class="text-muted small">Que your appointment</div>
        <a href="{% url 'create-appointment' %}" class="btn btn-primary m-3">Create>></a>
    </div>
    <div class="card text-dark p-1 animated slideInUp">
        <div>Scolldown for more</div>
    </div>
</div>
