{% extends 'base/base.html' %} {% block content %}

<div class="col-lg-6 offset-lg-3">
    <form class="form-inline mt-2 mt-md-0 justify-content-center py-3" action="{% url 'blog-search'%}">
        <input class="form-control w-50" type="text" name='search' placeholder="What are you looking for?" value="{% if query %} {{ query }} {% endif%}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="jumbotron col-lg-6 offset-lg-3">
    {% if queryset %}
    <div class="lead">Result found in "{% if query %} {{ query }} {% endif%}"</div>
    {% for post in queryset %}
    <a href="{{ post.get_absolute_url }}" class="nav-link">
        <p class="m-0">{{post.title}}</p>
        <div><small>{{post.heading|truncatechars:100}}</small></div>
    </a> {% endfor %} {% else %} {% if query != None %}
    <div class="lead">No result found for "{{ query }}"!</div>
    {% endif %}
    <div class="p5">
        <div class="h3 mt-lg-5 pt-lg-5">You may interest these latest post:</div>
        {% for obj in latest_post %}
        <a href="{{ obj.get_absolute_url }}" class="nav-link">
            <p class="m-0">{{obj.title}}</p>
            <div><small>{{obj.heading|truncatechars:100}}</small></div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}