{% extends 'base/base.html' %}
{% block content %}
    <div class="jumbotron mx-auto col-lg-9 rounded h2 text-center my-3 p-0">Tourist Events</div>
    <div class="jumbotron mx-auto col-lg-9">
        {% for obj in tourist_attraction %}
            <div class="row d-flex">
                <div class="order-2 d-flex {% if not obj.thumbnail %} col-lg-12 {% else %} col-lg-7 {% endif %}">
                    <div>
                        <a href="{{ obj.get_absolute_url }}" class="nav-link p-0">
                            <h2 class="h4">{{ obj.title }}</h2>
                        </a>
                        <div class="d-flex small">
                            <img class="h-50 img-fluid rounded-circle" src="{{ obj.author.headshot.url }}" width="30px" alt="...">
                                <a href="{{ obj.author.user.profile.get_absolute_url }}" class="d-flex">
                                    <div class="mx-2">{{ obj.author.user }}</div>
                                </a>
                                <div class="text-muted">{{ obj.timestamp }}
                                </div>
                            </div>
                            <p class="text-justify">{{ obj.heading|truncatewords:100 }}
                                <a href="{{ obj.get_absolute_url }}" class="btn btn-secondary">Read more>></a>
                            </p>
                        </div>
                    </div>
                    {% if obj.thumbnail %}
                        <div class="order-1 col-lg-5">
                            <img class="rounded img-fluid" src="{{ obj.thumbnail.url }}" alt="..."></div>
                        {% endif %}
                    </div>
                    <div class="bg-success text-success rounded m-1 h6">.</div>
                {% endfor %}


                <div class="text-center pt-3">
                    {% if is_paginated %}

                        {% if page_obj.has_previous %}
                            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}

                    {% endif %}
                </div>
            </div>
        {% endblock content %}
